/* Eric Meyer CSS reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent;}
body {line-height:1}
ol, ul {list-style:none}
blockquote, q {quotes:none}
:focus {outline:0}
ins {	text-decoration:none}
del {	text-decoration:line-through}
table {border-collapse:collapse;border-spacing:0}
/* End of Eric Meyer CSS reset */
/* Огромное отдельное спасибо Lea Verou за скрипт "prefix-free.js". http://leaverou.github.io/prefixfree/ */
/* A special thanks for Lea Verou - "prefix-free.js" author. http://leaverou.github.io/prefixfree/ */
/* Основные стили */
html, body {
    margin:0;
	padding:0;
	width:100%;
	background:#d0e6df;
}
body {
    font-family:Arial, Verdana, Tahoma, sans-serif;
	font-size:0.938em;
	line-height:1.5em;
}
/* Стиль системных сообщений об ошибках, полностью перенесён из core.php */
/* Дизайн message.html */
/* Надпись "Ошибка" */
.messbox {
	text-align:center;
}
.message-row .title {
    font-size:130%;
	line-height:200%;
	text-align:center;
	margin:10px auto;
	color:#f00;/* Цвет текста надписи "Ошибка" */
}
.message-table {
    display:table; /* Таблица */
	width:70%;
	margin-left:15%;
	vertical-align:baseline;
	text-align:;/* Расположение текста */
	font-size:;/* Размер шрифта */
}
.message-row {
	display:table-row; /* Строка таблицы */
	width:100%;
	line-height:2em;
	vertical-align:baseline;
}
.message-cell {
	display:table-cell; /* Ячейка таблицы */
	border:solid 1px #f00;
	vertical-align:baseline;
	line-height:2em;
	text-align:center;
}
.message {
    background:#fff;
	color:#f00;/* Цвет текста */
	padding:0.5em 1.5em;
}
.error-message {
    width:80%;
	margin-left:10%;
	background-color:#fff;
	text-align:center;
	color:f00;
}
/* Заголовки */
h1, h1:link {
	font-size:200%;
    line-height:200%;
	font-weight:normal;
	font-style:italic;
	padding-left:40px;
	color:#fff;
	text-shadow:0.125em 0 0.250em #000, 0.250em 0.250em 0.5em #000;
	text-decoration:none;
}
h2 {
    display:block;
	background:#075807 url('images/h2.png') no-repeat;
	font-size:120%;
    line-height:200%;
	font-weight:normal;
	color:#fff;
	text-align:center;
}
h2 a:link, h2 a:visited {
    text-decoration:underline;
	color:#fff;
	text-decoration-line:solid 1px;
	text-decoration-color:#fff;
}
h3 {
    font-size:130%;
    line-height:150%;
	font-weight:normal;
	text-align:center;
	color:#fff;
}
h4 {
    font-size:110%;
    line-height:110%;
	font-weight:bold;
	text-align:center;
	margin-top:1em;
	color:#505f7f;
}
h4 a:hover {
	color:#00a877;
}
form {
    vertical-align:baseline;
}
/* Ссылки*/
a:link, a:visited {
    color:#0d55aa;
}
a:hover {
    color:#00a877;
}
p {
    margin:12px 20px 0;
	color:#505f7f;
}
/* Основные блоки */

/* Шапка сайта. От её высоты зависит положение #top-nav - top:176px; */
#header {
    height:176px;
    width:100%;
    position:relative;
	background:url('images/acer.gif') repeat;/* Изображение в шапке сайта можно поменять, главное, чтобы оно было повторяющимся, бесшовным */
}
#header h1 {
	position:absolute;
	top:40px;
}
/*фиксированное плавающее меню */
#top-nav {
    top:176px; /*высота шапки в пикселях*/
	width:100%;
    background:#075807 url('images/head.png') no-repeat;
    color:#fff;
    position:fixed;
    z-index:1000;
}
#top-nav ul {
	overflow:hidden;
}
#top-nav ul li {
	display:block;
	float:left;
	margin:0 10px;
}
#top-nav ul li:first-child {
	margin-left:0;
}
#top-nav a {
	display:block;
	margin:0;
	padding:15px;
	text-decoration:underline;
	color:#fff;
}
#top-nav a:hover {
	color:#20c897;
}
.container {
    width:900px;
	min-width:850px;
	margin:0 auto;
	text-align:left;
}
.container hr {
    width:50%;
	margin-left:25%;
	border-color:#fff;
}
/* Основное содержание */
#content {
	width:100%;
	margin-bottom:38px;
	background:#f2f9ff;
}
#wrapper {
	height:100%;
	width:80%;
	margin:1em 10%;
	text-align:justify;
	line-height:1.5em;
	clear:both;
}
#wrapper img {
    float:left;
	margin-right:10px;
}
.advertizing {
    text-align:center;
}
.half {
    width:50%;
	float:left;
	text-align:center;
	line-height:1.125em;
}
.top-news {
    /* Пока не используется для "Самое популярное" */
}
.counter {
    font-size:90%;
}
/* Нижний блок */
#footer {
	width:100%;
	height:100%;
	margin:0;
	background:#075807 url('images/head.png') no-repeat;
	text-align:center;
}
#footer p {
	padding:5px;
	color:#ddd;
}
#footer a:link, #footer a:visited {
	color:#dde;
}
#footer a:hover {
	color:#eef;
}
/* Дополнительные блоки */
.content-wrap {
    width:850px;
	min-width:850px;
	width:80%;
	margin-left:10%;
}
.clear {
    display:block;
	clear:both;
}
#spacer-top {
    clear:both;
	width:100%;
	height:80px;
}
#spacer {
    clear:both;
	width:100%;
	height:20px;
}
#search {
    text-align:center;
}
.search {
    margin:5px auto;
}
.short-search {
	display:block;
	width:240px;
	text-align:center;
	margin:0 auto;
}
.short-search input {
    display:inline-block;
	margin:5px auto 0;
}
.searching {
    display:block;
	width:344px;
	text-align:center;
	margin:0 auto;
}
.searching input {
    display:inline-block;
	margin:5px auto 0;
}
#profileedit {
    width:70%;
    margin-left:15%;
}
#profileedit .label {
    width:33%;
}
/* Оформление даты и имени */
.last-posts {
    display:block;
	margin:10px 20px 0;
	text-align:left;
}
.name{
	display:inline-block;
	font-size:80%;
}
/* Оформление тегов */
.tags {
    margin:1.5em;
	font-size:80%;
}
.tags a:link {
	padding:0 4px 2px;
}
.info {
    font-size:80%;
	margin:0 20px;
	color:#505f7f;
}
/* Оформление спойлера */
.spoiler {
	background:#88с;
	padding:0 0.375em;
	color:#444;
}
.spoilertext {
    margin:0 0.25em 0 1em;
    padding:0 0.5em;
}
/* Стиль оформления цитат с указанием имени */
.quote {
    display:block;
    background:#f2f9ff;
	border:solid 1px #bdf;
	padding:0 0.375em 0.125em;
}
.quotetext {
    display:block;
    margin:0 0.25em 0.5em 1em;
    padding:0 0.5em;
	font-size:80%;
    color:#66b;
}
/* Стиль оформления скрытого текста */
.hide {
    display:block;
	padding:0 6px;
	cursor:pointer;
	background:#4140ae;
	color:#fff;
}
.hidetext {
    /*color:ff0;*/
	font-weight:300;
	text-align:left;
	display:none;
}
/* Дизайн форм */
/* Форма авторизации */
.menu>div {
    display:inline-block;
}
.menu-item {
    float:left;
}
.log-form {
	float:right;
	list-style:none;
}
#login-content {
	display:none;
	position:absolute;
	top:41px;/* Блок авторизации можно отделить от блока меню, если увеличить это значение */
	right:10%;
	z-index:1000;
    width:250px;    
	background:#075807;
	padding:15px;
	text-align:center;
}
#login-content a:link {
	line-height:0.375em;
}
/* Детали формы */
#loginform {
    display:table;
	width:80%;
	margin:0 10%;
}
#loginform a:link {
	color:#eef;
}
#loginform a:link, #loginform a:visited {
    color:#eef;
}
.row {
    display:table-row; /* Строка таблицы */
	width:100%;
	float:left;
	height:auto;
	vertical-align:baseline;
}
.row img {
	float:left;
	margin:5px !important;
}
.label {
    display:table-cell;
    float:left; /* Левая ячейка таблицы */
    vertical-align:baseline;
	width:49%;
	margin:5px auto 0;
	height:2em;
	text-align:right;
	line-height:2em;
}
.reg-input {
    display:table-cell;
    float:left;
    vertical-align:baseline;
	margin:5px;
	width:44%;
	height:1.5em;
	border:solid 1px #cdf;
}
.code-input {
    display:table-cell;
    float:left;
    vertical-align:baseline;
	margin:5px;
	width:106px;
	height:1.375em;
	line-height:1.75em;
	border:solid 1px #abd;
}
.restore-input {
	margin:10px 34% auto;
	width:30%;
	height:1.5em;
}
.restore {
    display:table;
	width:70%;
	margin-left:15%;
	text-align:center;
}
.restore .row {
	width:100%;
	height:auto;
	margin:0;
	text-align:center;
}
.restore .row .button {
	width:30%;
	height:3em;
	margin:0.25em auto;
	float:none;
	border:solid 1px #080;
	background:#008080 url('images/button-g.png') no-repeat;
	color:#fff;
}
.restore .button:hover {
	border:solid 1px #5b5;
}
.register {
    display:table;
	width:60%;
	margin-left:15%;
	text-align:center;
}
.register .button {
	width:40%;
	height:3em;
	margin:0.25em auto;
	float:none;
	border:solid 1px #080;
	background:#008080 url('images/button-g.png') no-repeat;
	color:#fff;
}
.register .button:hover {
	border:solid 1px #5b5;
}
.login-input {
    display:table-cell;
    float:left;
    vertical-align:baseline;
	margin:10px 10%;
	width:74%;
	height:1.5em;
	border:solid 1px #cdf;
}
.profile-input {
    display:table-cell;
    float:left;
    vertical-align:baseline;
	width:45%;
	height:1.5em;
	border:solid 1px #cdf;
}
#loginform .button {
	width:96%;
	height:3em;
	margin:0.25em;
	border:solid 1px #080;
	background:#008080 url('images/button-g.png') no-repeat;
	color:#fff;
}
#loginform .button:hover {
	border:solid 1px #5b5;
}
#account {
	text-align:center;
	color:#505f7f;
}
.account {
    display:table; /* Таблица */
	width:98%;
	margin:1%;
	color:#505f7f;
}
.log-form .account {
    color:#fff;
}
.register .account {
    text-align:center;
    color:#505f7f;
}
.register .account img {
	margin:10px auto;
}
#login-content .account .row img {
	margin:10px 74px !important;
	text-align:center;
}
.account .button, #loginform .button {
	width:40%;
	height:3em;
	margin:0.25em 30%;
	border:solid 1px #282;
	background:#008080 url('images/button-g.png') no-repeat;
	color:#fff;
}
.log-form .account .button {
	width:70%;
	margin:0.25em 15%;
}
.account .button:hover {
    border:solid 1px #5b5;
}
.account .cell {
	display:table-cell; /* Ячейка таблицы */
	vertical-align:baseline;
	float:left;
	width:100%;
	height:auto;
	text-align:left;
}
.account .label-name {
	display:table-cell; /* Ячейка таблицы */
	vertical-align:baseline;
	float:left;
	width:50%;
	height:auto;
	text-align:right;
	line-height:1.75em;
}
.account .label-info {
	display:table-cell; /* Ячейка таблицы */
	vertical-align:baseline;
	float:left;
	width:50%;
	height:auto;
	text-align:left;
	line-height:1.75em;
}
.account .row a {
    line-height:1.5em;
}
.account .row input {
    float:none;
	text-align:center;
}
.register .account .row {
    display:table-row; /* Строка таблицы */
	width:100%;
	float:left;
	height:1.5em;
	vertical-align:baseline;
}
.privat-message {
    width:100%;
	background:#f2f9ff;
}
.privat-message .row {
    width:100%;
}
.label-message {
    float:left; /* Меню - Личные сообщения */
	width:24%;
	height:auto;
	text-align:center;
}
.label-message:first-child {
    text-align:left;
}
.label-message:last-child {
    text-align:right;
}
td {
    text-align:left !important;
}
.right {
    text-align:right;
}
.news-full {
    text-align:center;
	line-height:1.5em;
}
/* Дизайн commentform.html */
input {
    outline:none;
	padding:4px 6px;
	float:left;
	border:solid 1px #abd;
}
input:hover {
    border:solid 1px #9d9;
}
input:focus {
    border:solid 1px #5b5;
}
select {
    outline:none;
	padding:4px 6px;
	float:left;
	width:auto;
	border:solid 1px #abd;
}
/* Имя пользователя */
.user-name {
    font-family:inherit;
	font-weight:bold;
	color:inherit;
}
.commentform {
    width:501px;
	margin:0 auto;
	text-align:center;
}
.comment-table {
    display:table; /* Таблица */
	width:510px;
	margin:0 auto;
	text-align:center;/* Расположение текста и кнопки */
}
.comment-row {
	display:table-row; /* Строка таблицы */
	width:100%;
	text-align:center;
	vertical-align:baseline;

}
.comment-row .input-button {
	width:196px;
	height:3em;
	margin:4px 156px 4px;
	border:solid 1px #058;
	background:#4140ae url('images/h2.png') no-repeat;
	color:#fff;
}
.comment-row .input-button:hover {
    border:solid 1px #0a0;
}
.commentform .account .button {
    width:40%;
	height:3em;
	margin:0.25em auto;
	border:solid 1px #282;
	background:#008080 url('images/button-g.png') no-repeat;
	color:#fff;
}
.commentform .account .button:hover {
    border:solid 1px #0ff;
}
/* Дизайн надписи "Осталось 10000 знаков" */
#info {
    font-size:0.75em;
	text-align:right;
}
/* Поле ввода текста комментария */
.textarea {
    box-sizing:content-box;
    width:492px;
	height:100px;
	padding:4px;
}
textarea {
	width:100%;
	resize:none;
	font-family:inherit;
	border:solid 1px #abd;
}
/* Ячейка таблицы */
.comment-cell {
    float:left;/* Уточнение для глюканутых браузеров */
    display:table-cell;
	line-height:1.75em;
	color:#505f7f;
}
.comment-cell img {
    margin:5px 5px 0;
}
.comment-row .label {
	text-align:right;/* Выравнивание текста можно установить "left" или "center" */
}
.commentform .comment-table .comment-row .comment-cell  a:link {
    line-height:2.25em;
	font-weight:bold;
}
/* Таблица с набором смайликов */
.smilestable {
    background:#fff;
	width:380px !important;
	text-align:left;
	vertical-align:baseline;
	padding:4px;
    position:absolute;
	display:none;
}
.smilestable  .smiles  img {
    width:auto !important;
	height:auto !important;
	margin:0 4px;
    border:none;
	cursor:pointer;
}
.smiles {

}
/* Дизайн вывода таблиц (501px) с комментариями */
.comment-cell-name img {
    margin:10px !important;
}
.comment-cell-name {
    display:table-cell;
	width:116px;
	background:#fff;
	font-weight:bold;
	color:#0d55aa;
}
.comment-cell-date {
    display:table-cell;
	width:300px;
	background:#fff;
	font-weight:bold;
	color:#0d55aa;
}
.comment-cell-cite {
    display:table-cell;
	width:103px;
	background:#fff;
	font-weight:bold;
	color:#0d55aa;
}
.comment-cell-text {
    display:table-cell;
	width:403px;
	background:#fff;
	text-align:left;
	vertical-align:top;
    color:#505f7f;
	padding:3px 10px 5px;
}
.comment-cell-text-wava {
    display:table-cell;
	width:510px;
	background:#fff;
	text-align:justify;
	font-style:italic;
	vertical-align:top;
    color:#505f7f;
	padding:3px 10px 5px;
}
/* Таблица с набором смайликов */
#mess {
    vertical-align:top;
}
.comment-cell .button {
    border:solid 1px #abd;
}
.smilestable {
    background:#fff;
	width:330px;
	text-align:center;
	vertical-align:baseline;
	border:solid 1px #abd;
	padding:4px;
    position:absolute;
	display:none;
}
.smilestable  .smiles  img {
    width:auto !important;
	height:auto !important;
	margin:0 2px;
    border:none;
	cursor:pointer;
}
/* Главное оформление модуля F.A.Q. */
#faq {
    width:100%;
	text-align:center;
}
/* Оформление записей F.A.Q. */
.question-table {
    display:table; /* Таблица */
	width:80%;
	margin-left:10%;
}
.question-table .row:first-child {
    border:solid 1px #7b7;
}
.question-cell-name {
	display:table-cell; /* Ячейка таблицы с именем */
	vertical-align:top;
	float:left;
	width:25%;
	text-align:center;
	font-weight:600;/* Имя автора - начертание */
}
.question-cell {
	display:table-cell;/* Ячейка с вопросом */
	vertical-align:top;
	float:left;
	width:50%;
	text-align:left;
	font-weight:600;/* начертание */
}
.question-cell-date {
	display:table-cell; /* Ячейка таблицы "дата вопроса" */
	vertical-align:top;
	float:left;
	width:25%;
	text-align:center;
	font-weight:300;/* Начертание */
}
.question-cell-text {
	display:table-cell; /* Ячейка таблицы с текстом ответа */
	vertical-align:top;
	float:left;
	width:74%;
	text-align:left;
	padding-right:1%;
	font-weight:300;/* Начертание */
}
.question-table .row {
    background:;/* Можно задать цвет фона или фоновое изображение (на будущее) */
}
.border {
    border:solid 1px #ff0;
}
/* Навигатор страниц */
.pager {
    margin:-1.250em auto 1em;
	text-align:center;
	font-weight:700;
	color:#505f7f;
}
/* Медиа - запросы */
@media handheld, only screen and (max-width: 1280px) {
.register {
	width:80%;
	margin-left:10%;
}
#login-content {
	right:0;
}
}
@media handheld, only screen and (max-width: 980px) {
.container {
	width:98%;
	margin-left:1%;
}
}