/**  Header  **/
#header {
	background: url(images/03.jpg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
	background-repeat: no-repeat;
	color: #cfcfcf;
}
#header .overlay{
	background: linear-gradient(to bottom,  rgba(0,0,0,0.8) 0%,rgba(0,0,0,0.73) 17%,rgba(0,0,0,0.66) 35%,rgba(0,0,0,0.55) 62%,rgba(0,0,0,0.4) 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cc000000', endColorstr='#66000000',GradientType=0 ); /* IE6-9 */
	height: 500px;
	background-attachment: fixed;
}
#header .container {padding: 15% 0 0;}
[class*=block-50] > [class=content] > [class*=form] {width: 90% !important; margin-left: 5% !important; margin-right: 5%; !important}
[class*=block-50] > [class=content] > [class=commentform] > [class*=group-80] {width: 100% !important; margin-left: 0; margin-right: 0;}
@media screen and (max-width: 1024px) {
[class*=group-100] > [class*=group-96] > [class*=block-25]:last-child {width: 70%;margin-left: 30%;}
[class*=group-100] > [class*=group-96] > [class*=block-25]:first-child {width: 30%;}
[class*=group-100] > [class*=group-96] > [class*=block-50] {width: 70%;}
}
@media screen and (max-width: 800px) {
#header, #header .overlay {
    height: 500px;
}
[class*=block-50] > [class=content] > [class*=group-80] {width: 100% !important; margin-left: 0; margin-right: 0;}
[class*=group-100] > [class*=group-96] > [class*=block-25] {width: 100% !important;margin-left: 0 !important;margin-right: 0 !important;}
[class*=group-100] > [class*=group-96] > [class*=block-50] {width: 100% !important;margin-left: 0;margin-right: 0;}
}