html { 
        height:100%; 
}
body {
        min-width:950px;
        font-family:verdana,arial,tahoma;
        font-size:10pt;
        height:100%;
        padding: 0;
        margin: 0;
}
td { 
	font-family:verdana,arial,tahoma;
        font-size:10pt;
}
.head {
	width:100%;
	height:108px;
}
.logo {
	float:left;
	background-color: #FFFFFF;
	margin: 0px;
	padding: 0px;
}

.quote {
	border-left: solid 1px silver;
	border-top: solid 1px silver;
	border-right: solid 1px silver;
	border-bottom: solid 1px silver;
	width:80%;
	background-color:#DDDDDD;
	text-align:left;
	font-family:verdana,arial,tahoma;
	font-size:8pt;
	font-weight: bold;
	padding:4px;
	margin-bottom:10px;
}

.quotetext {
	font-family:verdana,arial,tahoma;
	background-color:#FFFFFF;
	font-size:10pt;
	padding:4px;
	margin-top:5px;
	font-weight: normal;
}

.hide {
        border-left: solid 1px silver;
        border-top: solid 1px silver;
        border-right: solid 1px silver;
        border-bottom: solid 1px silver;
        width:50%;
        background-color:#DDDDDD;
        text-align:left;
        font-family:verdana,arial,tahoma;
        font-size:8pt;
        font-weight: bold;
        padding:4px;
        margin-bottom:10px;
}

.hidetext {               
        font-family:verdana,arial,tahoma;
        background-color:#FFFFFF;
        font-size:10pt;
        padding:4px;
        margin-top:5px;
        font-weight: normal;
}

.spoiler {
        border-left: solid 1px silver;
        border-top: solid 1px silver;
        border-right: solid 1px silver;
        border-bottom: solid 1px silver;
        width:50%;
        background-color:#DDDDDD;
        text-align:left;
        font-family:verdana,arial,tahoma;
        font-size:8pt;
        font-weight: bold;
        padding:4px;
        margin-bottom:10px;
}

.spoilertext {             
        font-family:verdana,arial,tahoma;
        background-color:#FFFFFF;
        font-size:10pt;
        padding:4px;
        margin-top:5px;
        font-weight: normal;
}

.headright {	
	margin-right:2%;
	width:370px;
	float: right;
}
.headmenu {
	text-align:center;
	height:23px;
	background-image: url('images/img_headmenu_bg.jpg');
	background-repeat: repeat-x;
}
.headbgleft{
	background:url('images/img_head_left.jpg');
	background-repeat:no-repeat;
	width:23px;
	height:23px;
	float:left;
	}
.headbgright{
	background:url('images/img_head_right.jpg');
	background-repeat:no-repeat;
	width:23px;
	position: absolute;
	right: 2%;
	height: 23px;
	top: 0px;
	}

.heada  {
	vertical-align: super;
	color:#FFF;
	font-size:12px;
}

.headtext {
	margin: 0 0 0 0;
	text-align:center;
	font-size:18px;
}

.headtext b { 
        color: #2ABF55;
}

.navy {
	clear:both;
	margin:0 auto;
	background-image: url('images/img_navy_bg.jpg');
	background-repeat: repeat-x;
	height:36px;
	width:98%;
	font-size: 16px;
}

A:link { 
	FONT-WEIGHT: normal;
	COLOR: #0000A0;
	TEXT-DECORATION: UNDERLINE;
}
A:visited { 
	FONT-WEIGHT: normal;
	COLOR: #0000A0;
	TEXT-DECORATION: UNDERLINE;
}
A:hover {
	FONT-WEIGHT: normal;
	COLOR: red;
	TEXT-DECORATION: NONE; 
}

#menu{
	padding-left:0px;
	margin:0px;
}
#menu ul {
	list-style: none;
	padding:0px;
	margin:0px;
}

#menu li {
	float: left;
	text-align: center;
	background-image: url('images/img_menu_bg.jpg'); 
	background-repeat: no-repeat;
	background-position: right center;
	display: inline;
}

#menu a {
	padding-top:8px;
	display: block;
	float: left;
	border: none;
	padding-left:5px;
	padding-right:5px;
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFFFFF;
	height:28px
}

#menu a:hover {
	color:#000;
	background: #a1e7a3;	
}

.menuactive {
        color:#000;
        background: #0F0;
} 

.content {
	margin:0 auto;
	min-height:60%; width:95%;
	padding:1%;
	border-bottom: none;
	border-top: none;
	border-left: solid 1px gray;
	border-right: solid 1px gray;
	background:url('images/imbody.jpg');
	background-repeat:repeat-x;
}
.footer {
	text-align:left;
	color:#FFF;
	width:98%;
	margin:0 auto;
	background:#000;
}
.bl {
	background: url('images/nright.jpg') 0 100% no-repeat;
}
.br {
	background: url('images/nleft.jpg') 100% 100% no-repeat;
}
.tl {
	background: url('images/vright.jpg') 0 0 no-repeat;
}
.tr {
	background: url('images/vleft.jpg') 100% 0 no-repeat; 
	padding:10px;
}
.optionstable{
        border-left: solid 1px silver;
        border-top: solid 1px silver;
        width:97%;
        text-align:left;
}
.optionstable2{
        border-left: solid 1px silver;
        border-top: solid 1px silver;
        text-align:left;
}
.optionstable td{
	border-bottom: solid 1px silver;
	border-right:solid 1px silver;
	padding:4px;
}
.optionstable2 td{
	border-bottom: solid 1px silver;
	border-right:solid 1px silver;
	padding:6px;
}
.without td{
	border-bottom:none;
	border-right:none;
	padding:0px;
}
.smilestable{
        border-left: solid 1px silver;
        border-top: solid 1px silver;
        border-bottom: solid 1px silver;
        border-right: solid 1px silver;
        text-align:left;
}
.smilestable td{
	border-bottom: none;
	border-right:none;
	padding:4px;
}
.optionstable #without td{
	border-bottom: none;
	border-right:none;
	text-align:left;
	padding:1px;
}
.titletable td {
        background-color:#DDDDDD;
        text-align: left;
        font-weight: bold;
        font-size: 8pt;
}
.titlered td {
        background-color:#B00000;
        text-align: left;
        font-weight: bold;
        color:white;
        font-size: 8pt;
}
.redtd td {
        background-color:#FFCECE;
        text-align: center;
        font-weight: bold;
        color:black;
        font-size: 10pt;
}
.titlegreen td {
        background-color:#007D00;
        text-align: left;
        font-weight: bold;
        color:white;
        font-size: 8pt;
}
.greentd td {
        background-color:#CEFFCE;
        text-align: center;
        font-weight: bold;
        color:black;
        font-size: 10pt;
}
.titleblue td {
        background-color:#1717FF;
        text-align: left;
        font-weight: bold;
        color:white;
        font-size: 8pt;
}
.bluetd td {
        background-color:#D9D9FF;
        text-align: center;
        font-weight: bold;
        color:black;
        font-size: 10pt;
}
.sub td {
        background-color:#DDDDDD;
        text-align: center;
        font-weight: bold;
        font-size: 8pt;
}
.logintable{
        border-left: solid 1px silver;
        border-top: solid 1px silver;
        width:460px;
        padding: 0; 
        text-align:left;
}
.logintable td{
	border-bottom: solid 1px silver;
	border-right:solid 1px silver;
	padding:4px;
}
.logintable #without td{
	border-bottom: none;
	border-right:none;
	text-align:left;
	padding:1px;
}

input, textarea, select {
        font-size:10pt;
        font-family:verdana,arial,tahoma;
	color: #111111;
	margin-bottom: 2px;
	margin-right: 2px;
	border-left: 1px solid silver;
	border-top: 1px solid silver;
	border-right: 1px solid silver;
	border-bottom: 1px solid silver;
	background-color: #EFEFEF;
}

input:hover, textarea:hover, select:hover { 
	background-color: #FBFBFB;
	border-left: 1px solid gray;
	border-top: 1px solid gray;
	border-right: 1px solid gray;
	border-bottom: 1px solid gray;
}

.modules {
        margin-bottom:6px;
}

h2 {
        font-size:16pt;
        font-family: tahoma;
}

.desc {
        color:#3C3C3C;
        font-size:8pt;
}
.g {

}
.pager a {
	padding: 2px 5px;
	background: #f7f7f7;
	border: 1px solid #c7c7c7;
	color: #000000;
	text-decoration: none;
	margin: 0px 1px;
	font-weight: bold;
}

.pager a:hover {
	background: #FFF2D7;
	border: 1px solid #666666;
	text-decoration: none;
}

.pager a.active{
	background: #666666;
	border: 1px solid #666666;
	color: #ffffff;
	font-weight: bold;
}

.pager a.active:hover {
	background: #666666;
}
.bordernone td {
	border-top: 0px;
	border-bottom: 0px;
	border-right: 0px;
	border-left: 0px;
}
/* 1.3 */
.bfgdiv {
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float:left;
	border-left: solid 1px silver;
        border-top: solid 1px silver;
        border-bottom: solid 1px silver;
	border-right:solid 1px silver;
	margin: 0 0 15px 15px;
	padding:4px;
	width:260px;
        text-align:left;
}

.bfgtable{
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
        border-left: solid 1px silver;
        border-top: solid 1px silver;
        width:260px;
        text-align:left;
}
.bfgtable td{
	-moz-border-radius:4px;
	-khtml-border-radius:4px;
	-webkit-border-radius:4px;
	border-radius:4px;
	border-bottom: solid 1px silver;
	border-right:solid 1px silver;
	padding:4px;
}
.bfgover {
	background: #D9D9FF;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float:left;
	border-left: solid 1px silver;
        border-top: solid 1px silver;
        border-bottom: solid 1px silver;
	border-right:solid 1px silver;
	margin: 0 0 15px 15px;
	padding:4px;
	width:260px;
        text-align:left;
}
.bfgout {
	background: white;
	-moz-border-radius: 4px;
	-khtml-border-radius: 4px;
	-webkit-border-radius: 4px;
	border-radius: 4px;
	float:left;
	border-left: solid 1px silver;
        border-top: solid 1px silver;
        border-bottom: solid 1px silver;
	border-right:solid 1px silver;
	margin: 0 0 15px 15px;
	padding:4px;
	width:260px;
        text-align:left;
}
/* 1.4 */
.titletable a, .titletable a:hover, .titletable a:active {
	font-weight: bold;
	font-size: 8pt;
	color: black;
}
.titleblue a, .titleblue a:hover, .titleblue a:active {
	font-weight: bold;
	font-size: 8pt;
	color: white;
}
a.black, a.black:hover, a.black:active {
	font-weight: bold;
	font-size:8pt;
	color:black;
}