body {
	margin:0 0 0 0;
	min-width:950px;
	font-size:14px;
        font-family:Arial,Helvetica, sans-serif;
	/*background:#F2FBFE; #E6F7FF*/
	background:#FFF url(images/body.jpg) repeat-x;
	
}

a {
        color: #1b3045;
}

.headline { height:28px; /*background: url(images/headline.jpg);*/ }
.headimage { height:150px; background-repeat:no-repeat; background-position:center; }

.sitename { margin: 0 auto; width: 980px; padding-top:22px; font-size:23px;}

.menu {
	
	color:#FFFBF0;
	background: url(images/headline2.png) repeat-x;
	margin:0 auto; 
	width:980px;
	height:44px;
}
.menu ul { list-style: none; margin:0px; margin-left:-20px; height:36px;}
.menu li { text-align: center; display: inline; padding-right:9px; height:44px; 	}
.menu a {
 
	text-decoration: none;
	font-family: Arial, Helvetica, sans-serif;
	color: #FFF;
	line-height:44px;
	font-size:16px;

}

.menu a:hover {
	color:#ADCE3C;
}

.main { margin:0 auto; background: #F3F3F3;  overflow: visible;
 width:980px;}
.leftbl {  overflow: hidden;  border-bottom:0px; border-top: 0px; border-left: #E8E8E8 solid 1px;  color:#1A2F44; background:#FFF  url(images/rightblock.png) repeat-y right; margin-left:10px; /* margin-left:10px; */ }
.leftblContent { width:685px; float:left;}
.titlenews{  color:#1B3045; height:30px;  background:url(images/newstitle.png); }
.titlenews H1{ margin:0px; line-height:48px; font-size:18px; padding-left:10px;}
.titlenews H1 a { text-decoration: underline; color: #1B3045; }
.drawline { background:#92c9e6; height:14px; margin:0px; padding:0px; /*background: url(linne.png);*/}

.newsbody{padding: 10px; background:url(images/newst2.png) repeat-x; }
.newsdown{ background: url(images/newsdownpng.png) repeat-x; height:28px; float:none; clear:both;}



.rightbl{ width:283px; float: right;}
.rightbl2 {margin:20px 20px 0px 20px;}
.footer{  height:40px; line-height:40px; text-align:center; margin:0 auto;  width:980px; background: url(images/headline2.png) repeat-x; color:#FFF;}

.footer a {
    color: white;
}

.optionstable{
                           border-left: solid 1px silver;
                           border-top: solid 1px silver;
                           text-align:left;
                           }
             .optionstable td{
                           border-bottom: solid 1px silver;
                           border-right:solid 1px silver;
                           padding:4px;
                           }
             .smilestable  {
                           border-left: solid 1px silver;
                           border-top: solid 1px silver;
                           border-bottom: solid 1px silver;
                           border-right: solid 1px silver;
                           text-align:left;
                           }
             .smilestable td {
                           border-bottom: none;
                           border-right:none;
                           padding:4px;
                           }
             #without {
                           border-right:none;
                           }
             #without2 {
                           border-left:none;
                           text-align:right;
                           color:gray;
                           }
             .titletable td {
                           background-color:#1b3045;
                           font-weight: bold;
                           color: white;
                           }
             .hide {
                           border-left: solid 1px silver;
                           border-top: solid 1px silver;
                           border-right: solid 1px silver;
                           border-bottom: solid 1px silver;
                           width:80%;
                           background-color:#DDDDDD;
                           text-align:left;
                           font-family:verdana,arial,tahoma;
                           font-size:8pt;
                           font-weight: bold;
                           padding:4px;
                           margin-bottom:10px;
                           }

              .hidetext {
                           
                           font-family:verdana,arial,tahoma;
                           background-color:#FFFFFF;
                           font-size:10pt;
                           padding:4px;
                           margin-top:5px;
                           font-weight: normal;
              }
             .faqtable td {
                           background-color:#eeebeb;
                           }
             input, textarea, select {
	                   color: #111111;
	                   margin-right:2px;
	                   padding:2px;
	                   font-family:verdana,arial,tahoma;
	                   font-size:10pt;
	                   border-left: 1px solid silver;
	                   border-top: 1px solid silver;
	                   border-right: 1px solid silver;
	                   border-bottom: 1px solid silver;
	                   background-color: #FFFFFF;
                           }
                           
             .spoiler {
                           border-left: solid 1px silver;
                           border-top: solid 1px silver;
                           border-right: solid 1px silver;
                           border-bottom: solid 1px silver;
                           width:80%;
                           background-color:#DDDDDD;
                           text-align:left;
                           font-family:verdana,arial,tahoma;
                           font-size:8pt;
                           font-weight: bold;
                           padding:4px;
                           margin-top:3px;
                           margin-bottom:10px;
                           }

             .spoilertext {
                           
                           font-family:verdana,arial,tahoma;
                           background-color:#FFFFFF;
                           font-size:10pt;
                           padding:4px;
                           margin-top:5px;
                           font-weight: normal;
                           }
                           
             .quote {
                           border-left: solid 1px silver;
                           border-top: solid 1px silver;
                           border-right: solid 1px silver;
                           border-bottom: solid 1px silver;
                           width:80%;
                           background-color:#DDDDDD;
                           text-align:left;
                           font-family:verdana,arial,tahoma;
                           font-size:8pt;
                           font-weight: bold;
                           padding:4px;
                           margin-bottom:10px;
                           }

             .quotetext {
                           
                           font-family:verdana,arial,tahoma;
                           background-color:#FFFFFF;
                           font-size:10pt;
                           padding:4px;
                           margin-top:5px;
                           font-weight: normal;
                           }

             input:hover, textarea:hover, select:hover { 
	                   border-left: 1px solid #666666;
	                   border-top: 1px solid #666666;
	                   border-right: 1px solid #666666;
	                   border-bottom: 1px solid #666666;
	                   background-color: #F5F5F5;
                           }
             .pager a {
                           padding: 2px 5px;
                           background: #f7f7f7;
                           border: 1px solid #c7c7c7;
                           color: #000000;
                           text-decoration: none;
                           margin: 0px 1px;
                           font-weight: bold;
                           }

             .pager a:hover {
                           background: #FFF2D7;
                           border: 1px solid #666666;
                           text-decoration: none;
                           }

             .pager a.active{
                           background: #666666;
                           border: 1px solid #666666;
                           color: #ffffff;
                           font-weight: bold;
                           }

             .pager a.active:hover {
                           background: #666666;
                           }
                           .ro {
        text-indent: 30px;
}
.ro2 {
        text-indent: 130px;
}
.ro3 {
        text-indent: 150px;
        margin-bottom: -5px;
}
.ro4 {
        text-indent: 150px;
        font-size: 10pt;
}
